body {
        height: 100vh;
        margin: 0;
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center;     
        background-color: #f0f0f0;
    }

    